<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>
</head>
<body>
<h1>Your Cart</h1>
<p>Total Products: <span th:text="${cart.items.size()}">0</span></p>
<table>
    <thead>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cart.items}">
        <td th:text="${item.product.name}">Product Name</td>
        <td>
            <!-- Nút giảm số lượng -->
            <a th:href="@{/cart/decrease/{id}(id=${item.product.id})}">-</a>
            <span th:text="${item.quantity}">1</span>
            <!-- Nút tăng số lượng -->
            <a th:href="@{/cart/increase/{id}(id=${item.product.id})}">+</a>
        </td>
        <td th:text="${item.totalPrice}">100.0</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2">Total</td>
        <td th:text="${cart.getTotalPrice()}">0.0</td>
    </tr>
    </tfoot>
</table>
<a href="/products">Back to Product List</a>
</body>
</html>
