<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{/layout :: head}">
    <title>Blog View</title>
</head>
<body>

<div class="container">
    <h1>Bài viết đầu tiên</h1>
    <p class="blog-summary">Đây là nội dung chi tiết của bài viết đầu tiên...</p>
    <p>Đây là nội dung đầy đủ của bài viết. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

    <button onclick="window.location.href='edit-post.html'">Chỉnh sửa bài viết</button>
</div>

<footer th:replace="~{/layout :: footer}"></footer>
</body>
</html>
